.header-menu {
    height: 100px;
}

.box-shadow {
    box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
    transition: all .5s;
}

.background-image-menu {
    background-image: url(http://demo.themenio.com/kovid19/images/logo-dark.png);
    background-position: center;
    background-size: cover;
    width: 146px;
    height: 40px;
    margin-top: 2em;
    cursor: pointer;
}

.link-menu {
    padding: 1.2em;
    font-weight: 600;
    text-align: center;
    text-decoration: none !important;
    font-family: "Roboto",sans-serif;
    color: #50658e;
    line-height: 1.6;
    font-size: 0.9375rem;
}

.padding-top-2 {
    padding-top: 2.5em;
}

.botao-menu {
    line-height: 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border-radius: 21px;
    margin-top: 2em;
    width: 7.3em;
    font-weight: 600;
}

.hei {
    height: 900em;
}

#segunda-col-menu {
    display: block;
}

#terceira-col-menu {
    display: block;
}

#menu-responsivo {
    display: none;
}

.menu-tablet {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    margin-left: 18em;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.padding-top-1 {
    padding-top: 1.9rem!important;
}

@media (max-width: 320px) {
    
}

@media (min-width: 321px) and (max-width: 375px) {
    
}

@media (min-width: 376px) and (max-width: 576px) {
    
}

@media (min-width: 577px) and (max-width: 768px) {
    .header-menu {
        height: 100px;
        margin-top: 0em;
    }
    
    .box-shadow {
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        transition: all .5s;
    }
    
    .background-image-menu {
        background-image: url(http://demo.themenio.com/kovid19/images/logo-dark.png);
        background-position: center;
        background-size: cover;
        width: 146px;
        height: 40px;
        margin-top: 2em;
        cursor: pointer;
    }
    
    .link-menu {
        padding: 0.8em;
        font-weight: 600;
        text-align: center;
        text-decoration: none !important;
        font-family: "Roboto",sans-serif;
        color: #50658e;
        line-height: 1.6;
        font-size: 0.9375rem;
    }
    
    .padding-top-2 {
        padding-top: 2.5em;
    }
    
    .botao-menu {
        line-height: 1.5rem;
        font-size: 1rem;
        color: white;
        background-color: #007bff;
        border-radius: 21px;
        margin-top: 2em;
        width: 7.3em;
        font-weight: 600;
    }

    #segunda-col-menu {
        display: none;
    }
    
    #terceira-col-menu {
        display: none;
    }
    
    #menu-responsivo {
        display: block;
    }

    .menu-tablet {
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        margin-left: 18em;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }
    
    .padding-top-1 {
        padding-top: 1.9rem!important;
    }

    .hei {
        height: 900em;
    }

    .link-responsivo {
        line-height: 2.5em;
        position: absolute;
        background-color: white;
        top: 0px;
        left: 0em;
        width: 16em;
        height: 30em;
    }

    #row-responsivo {
        display: none;
    }
    

    #teste {
        display: none;
    }
    
}

@media (min-width: 769px) and (max-width: 992px) {

}

@media (min-width: 993px) and (max-width: 1200px) {
    .header-menu {
        height: 100px;
        margin-top: 0em;
    }
    
    .box-shadow {
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        transition: all .5s;
    }
    
    .background-image-menu {
        background-image: url(http://demo.themenio.com/kovid19/images/logo-dark.png);
        background-position: center;
        background-size: cover;
        width: 146px;
        height: 40px;
        margin-top: 2em;
        cursor: pointer;
    }
    
    .link-menu {
        padding: 0.8em;
        font-weight: 600;
        text-align: center;
        text-decoration: none !important;
        font-family: "Roboto",sans-serif;
        color: #50658e;
        line-height: 1.6;
        font-size: 0.9375rem;
    }
    
    .padding-top-2 {
        padding-top: 2.5em;
    }
    
    .botao-menu {
        line-height: 1.5rem;
        font-size: 1rem;
        color: white;
        background-color: #007bff;
        border-radius: 21px;
        margin-top: 2em;
        width: 7.3em;
        font-weight: 600;
    }

    #segunda-col-menu {
        display: block;
    }
    
    #terceira-col-menu {
        display: block;
    }
    
    #menu-responsivo {
        display: none;
    }    

    #row-responsivo {
        display: none;
    }

    .hei {
        height: 900em;
    }
}

@media (min-width: 1201px) {
    .header-menu {
        height: 100px;
        margin-top: 0em;
    }
    
    .box-shadow {
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        transition: all .5s;
    }
    
    .background-image-menu {
        background-image: url(http://demo.themenio.com/kovid19/images/logo-dark.png);
        background-position: center;
        background-size: cover;
        width: 146px;
        height: 40px;
        margin-top: 2em;
        cursor: pointer;
    }
    
    .link-menu {
        padding: 1.2em;
        font-weight: 600;
        text-align: center;
        text-decoration: none !important;
        font-family: "Roboto",sans-serif;
        color: #50658e;
        line-height: 1.6;
        font-size: 0.9375rem;
    }
    
    .padding-top-2 {
        padding-top: 2.5em;
    }
    
    .botao-menu {
        line-height: 1.5rem;
        font-size: 1rem;
        color: white;
        background-color: #007bff;
        border-radius: 21px;
        margin-top: 2em;
        width: 7.3em;
        font-weight: 600;
    }

    #segunda-col-menu {
        display: block;
    }
    
    #terceira-col-menu {
        display: block;
    }
    
    #menu-responsivo {
        display: none;
    }    

    #row-responsivo {
        display: none;
    }
    
    .hei {
        height: 900em;
    }
}