.header-menu {
    background-color: white;
    box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
    transition: all .5s;
    height: 100px;
    margin-top: 0em;
}

.margin-left-7 {
    margin-left: 7em;
}

.background-image-menu {
    background-image: url(http://demo.themenio.com/kovid19/images/logo-dark.png);
    background-position: center;
    background-size: cover;
    width: 146px;
    height: 40px;
    margin-top: 2em;
    cursor: pointer;
}

.link-menu {
    padding: 1.2em;
    font-weight: 600;
    text-align: center;
    text-decoration: none !important;
    font-family: "Roboto",sans-serif;
    color: #50658e;
    line-height: 1.6;
    font-size: 0.9375rem;
}

.padding-top-2 {
    padding-top: 2.5em;
}

.botao-menu {
    line-height: 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border-radius: 21px;
    margin-top: 2em;
    width: 7.3em;
    font-weight: 600;
}

#segunda-col-menu {
    display: block;
}

#terceira-col-menu {
    display: block;
}

#menu-responsivo {
    display: none;
}

.menu-tablet {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    margin-left: 18em;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.padding-top-1 {
    padding-top: 1.9rem!important;
}

.background-image-primeira-section {
    background-image: url(http://demo.themenio.com/kovid19/assets/images/shape-a.png);
    background-position: center;
    background-size: cover;
    height: 650px;
}

.titulo-primeira-section {
    display: flex;
    align-items: center;
    font-size: 5.25em;
    line-height: 1;
    vertical-align: middle;
    margin-bottom: 1rem;
    letter-spacing: -0.025em;
    font-weight: bold;
    color: #50658e;
    font-family: 'Oswald', sans-serif;
}

.espacamento-col-primeira-section {
    margin-top: 180px;
    padding-left: 25px;
}

.span-primeira-section {
    display: flex;
    flex-direction: column;
    margin-top: -6rem;
    margin-left: 18.25rem;
    font-family: 'Oswald', sans-serif;
    line-height: 37px;
}

.sub-titulo-1 {
    font-size: 1.6rem;
    color: #f86168;
    letter-spacing: 0.04em;
}

.sub-titulo-2 {
    font-size: 2.6rem;
    color: #50658e;
}

.descricao-primeira-section {
    color: #50658e;
    padding-top: 35px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
}

.botao-primeira-section {
    width: 205px;
    height: 45px;
    background-color: #007bff;
    border-radius: 47px;
    padding-top: 10px;
}

.botao-primeira-section:hover {
    background-color: #2a81ea;
}

.segundo-botao-primeira-section {
    margin-left: 20px;
    background-color: white;
    padding-top: 10px;
}

.texto-botao {
    color: white !important;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
}

.segundo-texto-botao {
    color: #2a81ea;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
}

.fa-shield-alt {
    color: white;
    margin-left: 15px;
}

.fa-arrow-right {
    color: #2a81ea;
    margin-left: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.background-segunda-imagem-primeira-section {
    background-image: url(http://demo.themenio.com/kovid19/images/gfx/header-a.png);
    background-position: center;
    background-size: cover;
    height: 480px;
    margin-top: 145px;
}

@media (max-width: 320px) {
    .header-menu {
        background-color: white;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        transition: all .5s;
        height: 100px;
        margin-top: 0em;
    }
    
    .margin-left-7 {
        margin-left: 0em;
    }
    
    .background-image-menu {
        background-image: url(http://demo.themenio.com/kovid19/images/logo-dark.png);
        background-position: center;
        background-size: cover;
        width: 146px;
        height: 40px;
        margin-top: 2em;
        cursor: pointer;
        margin-left: 0em;
    }
    
    .link-menu {
        padding: 0.8em;
        font-weight: 600;
        text-align: center;
        text-decoration: none !important;
        font-family: "Roboto",sans-serif;
        color: #50658e;
        line-height: 1.6;
        font-size: 0.9375rem;
        padding-left: 0em;
    }
    
    .padding-top-2 {
        padding-top: 2.5em;
    }
    
    .botao-menu {
        line-height: 1.5rem;
        font-size: 1rem;
        color: white;
        background-color: #007bff;
        border-radius: 21px;
        margin-top: 3.3em;
        width: 7.3em;
        font-weight: 600;
        margin-left: 0em;
    }

    #segunda-col-menu {
        display: none;
    }
    
    #terceira-col-menu {
        display: none;
    }
    
    #menu-responsivo {
        display: block;
        z-index: 1000;
        position: absolute;
    }

    .menu-tablet {
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        margin-left: 15em;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }
    
    .padding-top-1 {
        padding-left: 1em;
        margin-top: -4.2em;
    }

    .link-responsivo {
        line-height: 2.5em;
        position: absolute;
        background-color: white;
        top: 0px;
        left: 0em;
        width: 16em;
        height: 30em;
    }

    #row-responsivo {
        display: none;
        width: 46em;
    }
    

    #menu-lateral {
        background-color: white;
        min-height: 100vh;
        max-height: 100vh;
        width: 303px;
        top: -72px;
        left: 255px;
        padding: 1.5rem 1.5rem;
        box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
        transform: translateX(-100%);
        z-index: 888;
        overflow: auto;
    }

    .news-tablet {
        margin-top: -0.5em;
        position: absolute;
    }

    .col-responsivo-tablet {
        position: fixed;
        top: 0;
        bottom: 11px;
        left: 242px;
        right: 0px;
        z-index: 777;
        background: rgba(27,71,161,0.8);
        padding-right: 32em;
    }

    .background-image-primeira-section {
        background-image: url(http://demo.themenio.com/kovid19/assets/images/shape-a.png);
        background-position: center;
        background-size: cover;
        height: 650px;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .header-menu {
        background-color: white;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        transition: all .5s;
        height: 100px;
        margin-top: 0em;
    }
    
    .margin-left-7 {
        margin-left: -2em;
    }
    
    .background-image-menu {
        background-image: url(http://demo.themenio.com/kovid19/images/logo-dark.png);
        background-position: center;
        background-size: cover;
        width: 146px;
        height: 40px;
        margin-top: 2em;
        cursor: pointer;
        margin-left: 1em;
    }
    
    .link-menu {
        padding: 0.8em;
        font-weight: 600;
        text-align: center;
        text-decoration: none !important;
        font-family: "Roboto",sans-serif;
        color: #50658e;
        line-height: 1.6;
        font-size: 0.9375rem;
        padding-left: 0em;
    }
    
    .padding-top-2 {
        padding-top: 2.5em;
    }
    
    .botao-menu {
        line-height: 1.5rem;
        font-size: 1rem;
        color: white;
        background-color: #007bff;
        border-radius: 21px;
        margin-top: 3.3em;
        width: 7.3em;
        font-weight: 600;
        margin-left: 0em;
    }

    #segunda-col-menu {
        display: none;
    }
    
    #terceira-col-menu {
        display: none;
    }
    
    #menu-responsivo {
        display: block;
        z-index: 1000;
        position: absolute;
    }

    .menu-tablet {
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        margin-left: 18em;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }
    
    .padding-top-1 {
        padding-left: 4em;
        margin-top: -4.2em;
    }

    .link-responsivo {
        line-height: 2.5em;
        position: absolute;
        background-color: white;
        top: 0px;
        left: 0em;
        width: 16em;
        height: 30em;
    }

    #row-responsivo {
        display: none;
        width: 46em;
    }
    

    #menu-lateral {
        background-color: white;
        min-height: 100vh;
        max-height: 100vh;
        width: 303px;
        top: -72px;
        left: 255px;
        padding: 1.5rem 1.5rem;
        box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
        transform: translateX(-100%);
        z-index: 888;
        overflow: auto;
        padding-left: 2em;
    }

    .news-tablet {
        margin-top: -0.5em;
        position: absolute;
    }

    .col-responsivo-tablet {
        position: fixed;
        top: 0;
        bottom: 11px;
        left: 242px;
        right: 0px;
        z-index: 777;
        background: rgba(27,71,161,0.8);
        padding-right: 32em;
    }

    .background-image-primeira-section {
        background-image: url(http://demo.themenio.com/kovid19/assets/images/shape-a.png);
        background-position: center;
        background-size: cover;
        height: 650px;
    }
}

@media (min-width: 376px) and (max-width: 576px) {
    .header-menu {
        background-color: white;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        transition: all .5s;
        height: 100px;
        margin-top: 0em;
    }
    
    .margin-left-7 {
        margin-left: 0em;
    }
    
    .background-image-menu {
        background-image: url(http://demo.themenio.com/kovid19/images/logo-dark.png);
        background-position: center;
        background-size: cover;
        width: 146px;
        height: 40px;
        margin-top: 2em;
        cursor: pointer;
        margin-left: 1em;
    }
    
    .link-menu {
        padding: 0.8em;
        font-weight: 600;
        text-align: center;
        text-decoration: none !important;
        font-family: "Roboto",sans-serif;
        color: #50658e;
        line-height: 1.6;
        font-size: 0.9375rem;
        padding-left: 0em;
    }
    
    .padding-top-2 {
        padding-top: 2.5em;
    }
    
    .botao-menu {
        line-height: 1.5rem;
        font-size: 1rem;
        color: white;
        background-color: #007bff;
        border-radius: 21px;
        margin-top: 3.3em;
        width: 7.3em;
        font-weight: 600;
        margin-left: 0em;
    }

    #segunda-col-menu {
        display: none;
    }
    
    #terceira-col-menu {
        display: none;
    }
    
    #menu-responsivo {
        display: block;
        z-index: 1000;
        position: absolute;
    }

    .menu-tablet {
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        margin-left: 18em;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }
    
    .padding-top-1 {
        padding-left: 4em;
        margin-top: -4.2em;
    }

    .link-responsivo {
        line-height: 2.5em;
        position: absolute;
        background-color: white;
        top: 0px;
        left: 0em;
        width: 16em;
        height: 30em;
    }

    #row-responsivo {
        display: none;
        width: 46em;
    }
    

    #menu-lateral {
        background-color: white;
        min-height: 100vh;
        max-height: 100vh;
        width: 303px;
        top: -72px;
        left: 255px;
        padding: 1.5rem 1.5rem;
        box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
        transform: translateX(-100%);
        z-index: 888;
        overflow: auto;
        padding-left: 2em;
    }

    .news-tablet {
        margin-top: -0.5em;
        position: absolute;
    }

    .col-responsivo-tablet {
        position: fixed;
        top: 0;
        bottom: 11px;
        left: 242px;
        right: 0px;
        z-index: 777;
        background: rgba(27,71,161,0.8);
        padding-right: 32em;
    }

    .background-image-primeira-section {
        background-image: url(http://demo.themenio.com/kovid19/assets/images/shape-a.png);
        background-position: center;
        background-size: cover;
        height: 650px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .header-menu {
        background-color: white;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        transition: all .5s;
        height: 100px;
        margin-top: 0em;
    }
    
    .margin-left-7 {
        margin-left: 2em;
    }
    
    .background-image-menu {
        background-image: url(http://demo.themenio.com/kovid19/images/logo-dark.png);
        background-position: center;
        background-size: cover;
        width: 146px;
        height: 40px;
        margin-top: 2em;
        cursor: pointer;
    }
    
    .link-menu {
        padding: 0.8em;
        font-weight: 600;
        text-align: center;
        text-decoration: none !important;
        font-family: "Roboto",sans-serif;
        color: #50658e;
        line-height: 1.6;
        font-size: 0.9375rem;
        padding-left: 0em;
    }
    
    .padding-top-2 {
        padding-top: 2.5em;
    }
    
    .botao-menu {
        line-height: 1.5rem;
        font-size: 1rem;
        color: white;
        background-color: #007bff;
        border-radius: 21px;
        margin-top: 3.3em;
        width: 7.3em;
        font-weight: 600;
        margin-left: 0em;
    }

    #segunda-col-menu {
        display: none;
    }
    
    #terceira-col-menu {
        display: none;
    }
    
    #menu-responsivo {
        display: block;
        z-index: 1000;
        position: absolute;
    }

    .menu-tablet {
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        margin-left: 18em;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }
    
    .padding-top-1 {
        padding-top: 1.9rem!important;
    }

    .link-responsivo {
        line-height: 2.5em;
        position: absolute;
        background-color: white;
        top: 0px;
        left: 0em;
        width: 16em;
        height: 30em;
    }

    #row-responsivo {
        display: none;
    }
    

    #menu-lateral {
        background-color: white;
        min-height: 100vh;
        max-height: 100vh;
        width: 298px;
        top: -72px;
        left: 266px;
        padding: 1.5rem 1.5rem;
        box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
        transform: translateX(-100%);
        z-index: 888;
        overflow: auto;
        padding-left: 2.2em;
    }

    .news-tablet {
        margin-top: -0.5em;
        position: absolute;
    }

    .col-responsivo-tablet {
        position: fixed;
        top: 0;
        bottom: 11px;
        left: 252px;
        right: 0px;
        z-index: 777;
        background: rgba(27,71,161,0.8);
        padding-right: 32em
    }

    .background-image-primeira-section {
        background-image: url(http://demo.themenio.com/kovid19/assets/images/shape-a.png);
        background-position: center;
        background-size: cover;
        height: 650px;
    }
    
}

@media (min-width: 769px) and (max-width: 992px) {

}

@media (min-width: 993px) and (max-width: 1200px) {
    .header-menu {
        background-color: white;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        transition: all .5s;
        height: 100px;
        margin-top: 0em;
    }
    
    .margin-left-7 {
        margin-left: 2em;
    }
    
    .background-image-menu {
        background-image: url(http://demo.themenio.com/kovid19/images/logo-dark.png);
        background-position: center;
        background-size: cover;
        width: 146px;
        height: 40px;
        margin-top: 2em;
        cursor: pointer;
    }
    
    .link-menu {
        padding: 0.8em;
        font-weight: 600;
        text-align: center;
        text-decoration: none !important;
        font-family: "Roboto",sans-serif;
        color: #50658e;
        line-height: 1.6;
        font-size: 0.931rem;
    }
    
    .padding-top-2 {
        padding-top: 2.5em;
    }
    
    .botao-menu {
        line-height: 1.5rem;
        font-size: 1rem;
        color: white;
        background-color: #007bff;
        border-radius: 21px;
        margin-top: 2em;
        width: 7.3em;
        font-weight: 600;
    }

    #segunda-col-menu {
        display: block;
    }
    
    #terceira-col-menu {
        display: block;
    }
    
    #menu-responsivo {
        display: none;
    }    

    #row-responsivo {
        display: none;
    }

    .background-image-primeira-section {
        background-image: url(http://demo.themenio.com/kovid19/assets/images/shape-a.png);
        background-position: center;
        background-size: cover;
        height: 650px;
    }
}

@media (min-width: 1201px) {
    .header-menu {
        background-color: white;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        transition: all .5s;
        height: 100px;
        margin-top: 0em;
    }
    
    .margin-left-7 {
        margin-left: 7em;
    }
    
    .background-image-menu {
        background-image: url(http://demo.themenio.com/kovid19/images/logo-dark.png);
        background-position: center;
        background-size: cover;
        width: 146px;
        height: 40px;
        margin-top: 2em;
        cursor: pointer;
    }
    
    .link-menu {
        padding: 1.2em;
        font-weight: 600;
        text-align: center;
        text-decoration: none !important;
        font-family: "Roboto",sans-serif;
        color: #50658e;
        line-height: 1.6;
        font-size: 0.9375rem;
    }
    
    .padding-top-2 {
        padding-top: 2.5em;
    }
    
    .botao-menu {
        line-height: 1.5rem;
        font-size: 1rem;
        color: white;
        background-color: #007bff;
        border-radius: 21px;
        margin-top: 2em;
        width: 7.3em;
        font-weight: 600;
    }

    #segunda-col-menu {
        display: block;
    }
    
    #terceira-col-menu {
        display: block;
    }
    
    #menu-responsivo {
        display: none;
    }    

    #row-responsivo {
        display: none;
    }
    
    .background-image-primeira-section {
        background-image: url(http://demo.themenio.com/kovid19/assets/images/shape-a.png);
        background-position: center;
        background-size: cover;
        height: 650px;
    }
}